.friend-border {
    border: 1px solid #CC7A00;
    width: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 7%;
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.friend-results {
    margin-top: 8%;
    color: #CC7A00
}

#user2_id {
    margin-top: 10%;
    margin-bottom: 20%;
}

.userid {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: -18%;
}

@media (max-width: 800px) {
    .friend-border {
        border: 1px solid #CC7A00;
        width: fit-content;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 15%;
        padding-bottom: 25%;
        text-align: center;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15%;
    }
    
    .friend-results {
        margin-top: 8%;
        color: #CC7A00
    }
    
    #user2_id {
        margin-top: 10%;
        margin-bottom: 20%;
    }
    
    .userid {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
        margin-bottom: -18%;
    }
}